<main>
    <!--<div ng-include="'/home/templates/headerguestView.html'"></div>-->
    <section class="content-sec">
        <div class="container">
            <div class="row">
                <div class="col-md-8 m-auto col-sm-8">
                    <div class="outer-rsvp-box details-rsvp">
                        <div class="top-head-rsvp">
                            <img src="/home/img/logo3.png" alt="logo">
                        </div>
                        <div class="half">
                            <div class="tab">
                                <input id="tab-one" type="checkbox" name="tabs">
                                <label for="tab-one">RSVP</label>
                                <div class="tab-content">
                                    <div class="date-menu rsvp-mnnu">
                                        <ul class="reception-events rsvp-listing">
                                            <li class="recept-cake event-imgtxt"><span><img class="like-immg" src="/home/img/engagemen.svg" alt="engagemen"></span></li>
                                            <li><span class="budget-level event-rsvp">Event Name</span></li>
                                            <li><span class="budget-level wed-rsvp">Wedding</span></li>
                                        </ul>
                                        <ul class="reception-events rsvp-listing">
                                            <li class="recept-cake event-imgtxt"><span><img class="like-immg" src="/home/img/engagemen.svg" alt="engagemen"></span></li>
                                            <li><span class="budget-level event-rsvp">Start date</span></li>
                                            <li><span class="budget-level wed-rsvp">12th Aug 2018, Midnight</span></li>
                                            <li><span class="budget-level event-rsvp">Duration:1 day</span></li>
                                        </ul>
                                        <ul class="reception-events rsvp-listing">
                                            <li class="recept-cake event-imgtxt"><span><img class="like-immg" src="/home/img/engagemen.svg" alt="engagemen"></span></li>
                                            <li><span class="budget-level event-rsvp">Adddress</span></li>
                                            <li><span class="budget-level wed-rsvp">1/232/D, Buliding#12,Paradise resort,Bandra,<br>Mumbia,India.500033</span></li>
                                        </ul>
                                        <ul class="reception-events rsvp-listing">
                                            <li><span class="budget-level event-rsvp">Attending?</span></li>
                                        </ul>
                                        <div class="check-right-rsvp">
                                            <div class="radio-outer">
                                                <input type="radio" class="" name="attending" value="yes">
                                                <span class="custom-check">Yes</span>
                                            </div>
                                            <div class="radio-outer">
                                                <input type="radio" class="" name="attending" value="no">
                                                <span class="custom-check">No</span>
                                            </div>
                                        </div>
                                    </div>

                                </div>
                            </div>
                            <div class="tab">
                                <input id="tab-two" type="checkbox" name="tabs">
                                <label for="tab-two">Accomodation</label>
                                <div class="tab-content">
                                </div>
                            </div>
                            <div class="tab">
                                <input id="tab-three" type="checkbox" name="tabs">
                                <label for="tab-three">Pickup and drop</label>
                                <div class="tab-content">
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </section><!--/.content-sec-->
</main>