<main>
    <div ng-include="'/home/templates/headerbeforelogin.html'"></div>
    <section class="st_wrapper">
        <section class="register_new">
            <div class="container">
                <div class="row">
                    <div class="col-sm-12">
                        <div class="inner-sec text-center">
                            <div class="head-sec">
                                <h4 style="font-size: 24px;">Your Business has been registered for verification. </h4>
                            </div>
                            <div class="body-sec" style="color:#9B9B9B; font-size: 20px;">
                                The team on our end will go through your details and confirm your registeration with 48 working <br/> hours. You will receive a confirmation mail from us. 
                            </div>
                            <div class="tickouter">
                                <img src="/home/img/roundtick.png"  />
                            </div>
                            <div class="tickouter_continue">
                                <a class="continuebtn btn btnwidth m-2 btn-lg" href="/">Continue</a>
                            </div>
                            <div style="margin-top:10px;">
                                <a style="color: #e21958; margin-top: 10px;" href="/">Cancel</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </section>
</main>


