<main>
    <div ng-include="'/home/templates/headerbeforelogin.html'"></div>

    <section class="signup-wraper forgot-wraper">
        <form name="PhoneOtp">
            <!-- One "tab" for each step in the form: -->
            <div class="container">

                <div class="forgotpass-tab">
                    <div class="tab formdetail">
                        <div class="row justify-content-center ">

                            <div class="col-md-10 col-12">
                                <div class="outer">
                                    <div class="head"><h1>Forgot password</h1></div>
                                    <div class="content col-12 col-md-8">
                                            <h2>Enter mobile number</h2>
                                            <p>Please enter your registered mobile number to receive your OTP</p>		
                                            <div class="form-group">	
                                                <input type="tel" name="phone" placeholder="Enter your phone number" intl-tel-input ng-model="user.phone" intl-tel-input-options="{ preferredCountries: ['in', 'sg','us'] }" class="form-control eyeinput" ng-required="true" >
                                                <!--<input type="tel" name="phone" intl-tel-input ng-model="user.phone" intl-tel-input-options="{ preferredCountries: ['in', 'sg','us'] }" class="form-control eyeinput" placeholder="Enter you phone number" ng-required="true">-->									
                                                <span class="error" ng-show="PhoneOtp.phone.$error.phoneNumber">
                                                    Please enter a correct phone number!
                                                </span>
                                            </div>	
                                            <div style="overflow:auto;" class="d-flex justify-content-center">
                                                <div style="" class="d-flex mt-5">
                                                    <!--<button type="button" id="prevBtn" class="cancelbtn btn btnwidth mr-2" onclick="nextPrev(1)">Cancel</button>-->
                                                    <button ng-click="getOTP()" ng-disabled="PhoneOtp.$pristine && PhoneOtp.$invalid && PhoneOtp.$dirty" type="submit" id="nextBtn" class="continuebtn btn btnwidth" >Send OTP</button>
                                                </div>
                                            </div>
                                    </div>		

                                </div>
                            </div>
                        </div>

                    </div>
                </div>
                <div class="forgotpass-tab">
                    <div class="tab formdetail">
                        <div class="row justify-content-center ">

                            <div class="col-md-10 col-12">
                                <div class="outer">
                                    <div class="head"><h1>Forgot password</h1></div>
                                    <div class="content col-12 col-md-7">		
                                        <h2>Enter OTP</h2>
                                        <p>Please Enter the <span>6 digit OTP</span> that has been sent to your phone number <span>{{user.phone}}</span> for verfication.</p>

                                        <div class="d-flex otp-input flex-wrap justify-content-start">
                                            <div otp-input-directive options="otpInput"></div>
                                            <!--<input id="partitioned" ng-model="user.otp_code" class="form-control m-1" type="text" maxlength="6" />-->
                                        </div>

                                        <p class="text-center otp">Didn't receive OTP? <a ng-click="getOTP()" class="" role="button" aria-pressed="true">Resend</a></p>
                                        <div style="overflow:auto;" class="d-flex justify-content-center">
                                            <div style="" class="d-flex mt-5">
                                                <!--<button type="button" id="prevBtn" class="cancelbtn btn btnwidth mr-2" onclick="nextPrev(1)">Cancel</button>-->
                                                <button type="button" id="nextBtn" class="continuebtn btn btnwidth" ng-click="verifyOTP()">Verify</button>
                                            </div>
                                        </div>
                                    </div>		

                                </div>





                            </div>
                        </div>

                    </div>
                </div>

                <div class="forgotpass-tab">
                    <div class="tab formdetail">
                        <div class="row justify-content-center ">

                            <div class="col-md-10 col-12">
                                <div class="outer">
                                    <div class="head"><h1>Enter new password</h1></div>
                                    <div class="content col-12 col-md-5 newpass px-2">		
                                        <div class="form-group eyeinput">
                                            <label for="exampleInputPassword1">Password</label>
                                            <input name="password" id="eye" ng-model="user.password" password-strength="user.password" type="password" class="form-control eyeinputs" ng-pattern="/^(?=.*[A-Za-z])(?=.*\d)(?=.*[$@$!%*#?&])[A-Za-z\d$@$!%*#?&]{8,}$/">	
                                            <span  class="" ng-click="showpwd()"><img src="/home/img/eye.png"/></span>
                                            <!--<label for="exampleInputPassword1" class="float-right"></label>-->
                                            <span class="float-right" data-ng-class="strength">{{strength}}</span>
                                            <span class="error" ng-show="PhoneOtp.password.$error.pattern">Not a valid password!</span>
                                        </div>

                                        <div class="form-group">
                                            <label for="exampleInputPassword1">Re-enter Password</label>
                                            <input name="re_password" type="password" ng-model="user.re_password" class="form-control " ng-pattern="/^(?=.*[A-Za-z])(?=.*\d)(?=.*[$@$!%*#?&])[A-Za-z\d$@$!%*#?&]{8,}$/">		
                                            <span class="error" ng-show="PhoneOtp.re_password.$error.pattern">Not a valid password!</span>
                                        </div>



                                        <div style="overflow:auto;" class="d-flex justify-content-center">
                                            <div style="" class="d-flex mt-5">
                                                <!--<button type="button" id="prevBtn" class="cancelbtn btn btnwidth mr-2" onclick="nextPrev(1)">Cancel</button>-->
                                                <button type="submit"  class="continuebtn btn btnwidth" ng-click="setPassword()" >Confirm new password</button>
                                            </div>
                                        </div>
                                    </div>		

                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- Circles which indicates the steps of the form: -->
                <div style="d-flex justify-content-start" class="dots">
                    <span class="step"></span>
                    <span class="step"></span>
                    <span class="step"></span>
                    <span class="step"></span>

                </div>
            </div>
        </form>
    </section>		







</main>
<script>
    // OTP SECTION
var obj = document.getElementById('partitioned');
obj.addEventListener("keydown", stopCarret); 
obj.addEventListener("keyup", stopCarret); 

function stopCarret() {
	if (obj.value.length > 6){
		setCaretPosition(obj, 6);
	}
}

function setCaretPosition(elem, caretPos) {
    if(elem != null) {
        if(elem.createTextRange) {
            var range = elem.createTextRange();
            range.move('character', caretPos);
            range.select();
        }
        else {
            if(elem.selectionStart) {
                elem.focus();
                elem.setSelectionRange(caretPos, caretPos);
            }
            else
                elem.focus();
        }
    }
}
</script>
<style>
#partitioned {
  padding-left: 15px;
  letter-spacing: 42px;
  border: 0;
  background-image: linear-gradient(to left, black 70%, rgba(255, 255, 255, 0) 0%);
  background-position: bottom;
  background-size: 50px 1px;
  background-repeat: repeat-x;
  background-position-x: 35px;
  width: 295px;
  min-width:295px;
  text-align: left;
}
</style>