$main-heading-color:#696767;
$main-heading-size:36px;

$subheading-color:#707070;
$subheading-size:16px;

$paragraph-color:#bcbcbc;
$para-size:14px;

$button-color:#676767;
$button-active-color:#fe9833;

$white-color:#ffffff;
$theme-color:#fe9833;

$footer-bg-color:#484848;
$footer-bg-btm-color:#444444;

$heading-size:18px;

%divfullwidth{
width:100%;
}

$top-header-color:#f7f7f7;

$input-color:#9e9c9c;

$btnbgcolor:#e21958;
